@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap';
* {
    margin: 0; padding: 0; box-sizing: border-box;
}
body {
    background-color: #ccc;
    font-family: 'Poppins', sans-serif;
    /* margin: 0 auto; */
}
.apply_box h1 {
    text-align: center;
    /* margin-top: 5px; */
    /* font-size: 30px; */
    font-weight: 600;
}
.apply_box {
    background-color: #fff;
    /* text-align: center; */
    /* width: 50%; */
    max-width: 600px;
    margin: 30px auto;
    /* margin-top: 50px; */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 10px 20px rgba(55, 52, 73, 0.4);
}
.form_container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}
.item5 {
    grid-column: 1 / span 2;
}
.item5 textarea {
    width: 100%;
}
.form_items {
    display: flex;
    flex-direction: column;
}
@media (max-width:460px) {
    .item5 {
        grid-column: 1 / span 1;
    }
}
label {
    font-size: 15px;
    margin-bottom: 2px;
    font-weight: 500;
}
input, select, textarea {
    padding: 6px, 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    /* font-size: 15px; */
    font-weight: 500;
    transition: 0.3s ease-in;
}
.placeholder_text {
    padding: 5px;
    font-size: 15px;
    /* font-weight: 500; */
    /* color: red; */
}
#background {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background: #222831;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    -webkit-clip-path: polygon(52% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(52% 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
    transition: all 0.7s ease;
}
.bts {
    position: fixed;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .bts:hover {
    transform: scale(1.6);
    transition: all 0.4s ease;
  }
  
  .rosegold {
    background: #57D1C9;
    bottom: 30px;
  }
  
  .coral {
    background: #FF7A6C;
    bottom: 60px;
  }
  
  .fuschia {
    background: #A24868;
    bottom: 90px;
  }
  
  .black {
    background: #373449;
    bottom: 120px;
  }
/* input:focus {
    outline-color: red; not working
} */
textarea:focus, input:focus, select:focus  {   
    border-color: rgba(241, 16, 16, 0.986);
    outline: 0 none;
    transition: 0.5s ease-out;
}
.apply_btn {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
button {
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    /* font-weight: 500; */
}
button:hover {
    background-color: #ccc;
    color: #000;
    /* border: 1px solid red; */
    transition: 0.3s ease-out;
}
@media (max-width:460px) {
    .apply_btn {
        justify-content: center;
    }
}